<footer class="footer">
    <div class="container-fluid box-fluid ">
        <div class="row">
          <div class="col-md-6 col-sm-6 text-sm-left text-center">
              <span class="text-white"><a href="javascript:void(0)">About Us </a> | 
                <a href="javascript:void(0)">Contact Us</a> | 
                <a href="javascript:void(0)">User Manual</a> | 
                <a href="javascript:void(0)">Privacy Policy</a></span>
            </div>
            <div class="col-md-6 col-sm-6 text-sm-right text-center">
              <span class="text-black">© 2019 ERSS. All rights reserved.</span>
            </div>
        </div>
    </div>
  </footer>