<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-5">
        <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-container"> 
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  
                </mat-form-field>
                <button mat-fab color="primary" type="submit" class="btn-login"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon></button>
              </form>
    </mat-card> 
    </div>
    <div class="col-3">

    </div>
  </div>
</div>
