<div class="color-line"></div>
<header>
  <div class="container-fluid box-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-5">
        <div>
          <a href="/auth/dashboard">
            <img src="../../../assets/img/logo1.png" class="img-fluid login_img" alt="Logo" style="width: 180px;">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-7">
        <h3 class="text-center mt-2 welcome-hd-text">
          ERSS</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="text-md-right pt-1">
          <span class="fa fa-user text-primary"></span>
          <span class="hidden-xs text-grey"> Welcome </span>
          <b> {{username}}</b>
          <div class="dropdown mt-1">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Settings </a>
            <div class="dropdown-menu dropdown-menu-right settings">
              <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</header>
<!-- <div class="color-line"></div> -->


<nav class="navbar navbar-expand-sm   navbar-light bg-light sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-sm-none" href="#">Menu</a>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/dashboard">
          <i class="fa fa-th-large"></i> Dashboard</a>
      </li>

      <li class="nav-item dropdown dmenu">
        <!-- *ngIf="menuViewPipeM('MASTERS')" -->
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-archive"></i> Masters
        </a>
        <div class="dropdown-menu sm-menu">
          <a class="dropdown-item" routerLink="/auth/masters/subdivision">
            <i class="fa fa-angle-right"></i> Subdivision</a>
          <a class="dropdown-item" routerLink="/auth/masters/circle">
            <i class="fa fa-angle-right"></i> Circle</a>
          <a class="dropdown-item" routerLink="/auth/masters/policestation">
            <i class="fa fa-angle-right"></i> Policestation</a>
          <a class="dropdown-item" routerLink="/auth/masters/mandal">
            <i class="fa fa-angle-right"></i> Mandal</a>
          <a class="dropdown-item" routerLink="/auth/masters/village">
            <i class="fa fa-angle-right"></i> Village</a>
        </div>
      </li>
    </ul>
  </div>
</nav>