<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img src="../../../assets//img/Logo-ERSS Solution.png" style="width:100px;"></h5>
    <a class="btn btn-outline-primary" href="#" (click)="logout()">Logout</a>
  </div>
  <nav class="navbar navbar-expand-sm bg-company-red  navbar-light bg-light sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-sm-none" href="#">Menu</a>
      <div class="container">
          <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/auth/dashboard">
                    <i class="fa fa-th-large"></i> Dashboard</a>
                </li>
          
                <li class="nav-item dropdown dmenu">
                  <!-- *ngIf="menuViewPipeM('MASTERS')" -->
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-archive"></i> Masters
                  </a>
                  <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" routerLink="/auth/masters/subdivision">
                      <i class="fa fa-angle-right"></i> Subdivision</a>
                    <a class="dropdown-item" routerLink="/auth/masters/circle">
                      <i class="fa fa-angle-right"></i> Circle</a>
                    <a class="dropdown-item" routerLink="/auth/masters/policestation">
                      <i class="fa fa-angle-right"></i> Policestation</a>
                    <a class="dropdown-item" routerLink="/auth/masters/mandal">
                      <i class="fa fa-angle-right"></i> Mandal</a>
                    <a class="dropdown-item" routerLink="/auth/masters/village">
                      <i class="fa fa-angle-right"></i> Village</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auth/quickview">
                      <i class="fa fa-th-large"></i> Quickview</a>
                  </li>
                  <li class="nav-item dropdown dmenu">
                    <!-- *ngIf="menuViewPipeM('MASTERS')" -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      <i class="fa fa-archive"></i> Reports
                    </a>
                    <div class="dropdown-menu sm-menu">
                      <a class="dropdown-item" routerLink="/auth/reports/vehicleAlertsReport">
                        <i class="fa fa-angle-right"></i> Vehicle Alerts Report</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown dmenu">
                    <!-- *ngIf="menuViewPipeM('MASTERS')" -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      <i class="fa fa-archive"></i> Vehicles
                    </a>
                    <div class="dropdown-menu sm-menu">
                      <a class="dropdown-item" routerLink="/auth/vehicle/liveview">
                        <i class="fa fa-angle-right"></i> Vehicle Live View</a>
                    </div>
                  </li>
              </ul>
            </div>
      </div>
      
    </nav>
    
  
     


