<div class="container-fluid">
  <div class="col-sm breadcrumb my-3">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> / Analytics
  </div>
  <div class="col-sm breadcrumb my-2">
    <div class="col-md-1">
      <p>From Date</p>
    </div>
    <div class="col-md-3">
      <input [owlDateTime]="dt1" class="form-control" [(ngModel)]="startDate" [owlDateTimeTrigger]="dt1"
        placeholder="Start Date">
      <owl-date-time #dt1></owl-date-time>
    </div>
    <div class="col-md-1">
      <p>To Date :</p>
    </div>
    <div class="col-md-3">
      <input [owlDateTime]="dt2" class="form-control" [(ngModel)]="endDate" [owlDateTimeTrigger]="dt2"
        placeholder="End Date">
      <owl-date-time #dt2></owl-date-time>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="irf irfs">
        <h6>IRF's RAISED</h6>
        {{totalCount}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="irf1 irfs">
        <h6>PENDING IRF's</h6>
        {{IRFTotalCount}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="irf2 irfs">
        <h6>TOTAL SV</h6>
        {{SVTotalCount}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="irf3 irfs">
        <h6>TOTAL SOC</h6>
        {{SOCTotalCount}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="irf4 irfs">
        <h6>TOTAL CF's</h6>
        {{CFTotalCount}}
      </div>
    </div>
    <div class="col-md-2">
      <div class="irf5 irfs">
        <h6>Avg. RESPONSE</h6>
        {{avgRespTime}}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="col-sm status my-4">
        <h6>All Vehicles Status</h6>
      </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="vehicles total">
            <span class="count">Total</span>{{totalVehiclesCount}}
        </div>
      </div>
      <div class="col-md-3">
          <div class="vehicles run">
              <span class="count">Running</span>{{runningVehiclesCount}}
          </div>
        </div>
        <div class="col-md-3">
            <div class="vehicles idle">
                <span class="count">Idle</span>{{idleVehiclesCount}}
            </div>
          </div>
          <div class="col-md-3">
              <div class="vehicles tamper">
                  <span class="count">Tampered</span>{{tamperedVehiclesCount}}
              </div>
            </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="col-sm status my-4">
          <h6>Police Station Wise</h6>
        </div>
        <div class="col-sm breadcrumb my-2">
    <div class="col-md-2">
      <p>From Date</p>
    </div>
    <div class="col-md-3">
      <input [owlDateTime]="dt3" class="form-control" [(ngModel)]="stDate" [owlDateTimeTrigger]="dt3"
        placeholder="Start Date">
      <owl-date-time #dt3></owl-date-time>
    </div>
    <div class="col-md-1">
      <p>To Date :</p>
    </div>
    <div class="col-md-3">
      <input [owlDateTime]="dt4" class="form-control" [(ngModel)]="edDate" [owlDateTimeTrigger]="dt4"
        placeholder="End Date">
      <owl-date-time #dt4></owl-date-time>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="policeWise()">Search</button>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="container" style="width:100%;height: 400px; margin: 0 auto"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm status my-4">
        <h6>Major Head Wise</h6>
      </div>
      <div class="col-sm breadcrumb my-2">
  <div class="col-md-2">
    <p>From Date</p>
  </div>
  <div class="col-md-3">
    <input [owlDateTime]="dt5" class="form-control" [(ngModel)]="stmDate" [owlDateTimeTrigger]="dt5"
      placeholder="Start Date">
    <owl-date-time #dt5></owl-date-time>
  </div>
  <div class="col-md-1">
    <p>To Date :</p>
  </div>
  <div class="col-md-3">
    <input [owlDateTime]="dt6" class="form-control" [(ngModel)]="edmDate" [owlDateTimeTrigger]="dt6"
      placeholder="End Date">
    <owl-date-time #dt6></owl-date-time>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary" (click)="majorWise()">Search</button>
  </div>
</div>
<div class="row">
  <div id="pieChartcontainer" style="width:100%;height: 400px; margin: 0 auto"></div>
</div>
<div class="row py-4">
  <div id="pieChartMajorcontainer" style="width:100%;height: 400px; margin: 0 auto"></div>
</div>
</div>
