.main_bg {
    background-image: url('../../assets/img/ap-bg.jpg');
    background-size: cover;
    height: 100%;
}
::ng-deep .mat-raised-button {
    height:48px !important;
    /* width:48px !important; */
    font-size:18px !important;
    
}