<div class="container-fluid main_bg">
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../assets/img/state_logo.png">
    </div>
    <div class="col-6">
        
      </div>
      <div class="col">
          <img src="../../assets/img/state_logo.png">
        </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <span style="font-size: 30px;">Welcome to</span><img src="../../assets/img/app_logo.png" title="" width="300px">
    </div>
  </div>
  <div class="row text-center">
      <button mat-stroked-button color="primary">
    Action
  </button>
  </div>
</div>
</div>